extends ../../common.blocks/base/base
block head
  link(rel="stylesheet" type="text/css" href="../sass/main.css")
  link(rel="stylesheet" type="text/css" href="../sass/media.css")
  link(rel="stylesheet" type="text/css" href="../sass/news_list.css")
block title
  | News-section
block main
        main
          .trafarets
          div.container Новость
