section.boats_main
  .container
    .row.d-flex.justify-content-center
      .col-lg-2.col-md-4.col-sm-6.col-xs-6
        .boat_cnt
          img(src="../img/boat_1.png" alt="")
          .boat_title
            | Аква
      .col-lg-2.col-md-4.col-sm-6.col-xs-6
        .boat_cnt
          img(src="../img/boat_2.png" alt="")
          .boat_title
            | Гладиатор
            br
            | (Gladiator)
      .col-lg-2.col-md-4.col-sm-6.col-xs-6
        .boat_cnt
          img(src="../img/boat_3.png" alt="")
          .boat_title
            | Таймень
      .col-lg-2.col-md-4.col-sm-6.col-xs-6
        .boat_cnt
          img(src="../img/boat_4.png" alt="")
          .boat_title
            | Пиранья
      .col-lg-2.col-md-4.col-sm-6.col-xs-6
        .boat_cnt
          img(src="../img/boat_5.png" alt="")
          .boat_title
            | Пилот
      .col-lg-2.col-md-4.col-sm-6.col-xs-6
        .boat_cnt
          img(src="../img/boat_6.png" alt="")
          .boat_title
            | Хантер
      .col-lg-2.col-md-4.col-sm-6.col-xs-6
        .boat_cnt
          img(src="../img/boat_7.png" alt="")
          .boat_title
            | Медведь
      .col-lg-2.col-md-4.col-sm-6.col-xs-6
        .boat_cnt
          img(src="../img/boat_8.png" alt="")
          .boat_title
            | Раш
            | (Rush)
      .col-lg-2.col-md-4.col-sm-6.col-xs-6
        .boat_cnt
          img(src="../img/boat_2.png" alt="")
          .boat_title
            | Гладиатор
            | (Gladiator)
      .col-lg-2.col-md-4.col-sm-6.col-xs-6
        .boat_cnt
          img(src="../img/boat_10.png" alt="")
          .boat_title
            | Таймень
      .col-lg-2.col-md-4.col-sm-6.col-xs-6
        .boat_cnt
          img(src="../img/boat_2.png" alt="")
          .boat_title
            | Гладиатор
            | (Gladiator)
      .col-lg-2.col-md-4.col-sm-6.col-xs-6
        .boat_cnt
          img(src="../img/boat_10.png" alt="")
          .boat_title
            | Таймень
      .col-lg-2.col-md-4.col-sm-6.col-xs-6
        .boat_cnt
          img(src="../img/boat_8.png" alt="")
          .boat_title
            | Раш
            | (Rush)
      .col-lg-2.col-md-4.col-sm-6.col-xs-6
        .boat_cnt
          img(src="../img/boat_2.png" alt="")
          .boat_title
            | Гладиатор
            | (Gladiator)
      .col-lg-2.col-md-4.col-sm-6.col-xs-6
        .boat_cnt
          img(src="../img/boat_10.png" alt="")
          .boat_title
            | Таймень
      .col-lg-2.col-md-4.col-sm-6.col-xs-6
        .boat_cnt
          img(src="../img/boat_2.png" alt="")
          .boat_title
            | Гладиатор
            | (Gladiator)
section.boats_main_mobile
  .container
    .row(style="position: relative")
      // Carousel Wrapper
      #page_slider.owl-carousel.owl-theme
        // Controls
        // First slide
        .item
          .boat_group
            figure.col-md-3.owl-item_slider.d-md-inline-block
              .boat_cnt
                img(src="img/boat_1.png" alt="")
                .boat_title
                  | Медведь
            figure.col-md-3.owl-item_slider.d-md-inline-block
              .boat_cnt
                img(src="img/boat_2.png" alt="")
                .boat_title
                  | Медведь
            figure.col-md-3.owl-item_slider.d-md-inline-block
              .boat_cnt
                img(src="img/boat_3.png" alt="")
                .boat_title
                  | Медведь
            figure.col-md-3.owl-item_slider.d-md-inline-block
              .boat_cnt
                img(src="img/boat_4.png" alt="")
                .boat_title
                  | Медведь
            figure.col-md-3.owl-item_slider.d-md-inline-block
              .boat_cnt
                img(src="img/boat_4.png" alt="")
                .boat_title
                  | Медведь
            figure.col-md-3.owl-item_slider.d-md-inline-block
              .boat_cnt
                img(src="img/boat_4.png" alt="")
                .boat_title
                  | Медведь
        // /.First slide
        // Second slide
        .item
          .boat_group
            figure.col-md-3.owl-item_slider.d-md-inline-block
              .boat_cnt
                img(src="img/boat_1.png" alt="")
                .boat_title
                  | Медведь
            figure.col-md-3.owl-item_slider.d-md-inline-block
              .boat_cnt
                img(src="img/boat_2.png" alt="")
                .boat_title
                  | Медведь
            figure.col-md-3.owl-item_slider.d-md-inline-block
              .boat_cnt
                img(src="img/boat_3.png" alt="")
                .boat_title
                  | Медведь
            figure.col-md-3.owl-item_slider.d-md-inline-block
              .boat_cnt
                img(src="img/boat_4.png" alt="")
                .boat_title
                  | Медведь
            figure.col-md-3.owl-item_slider.d-md-inline-block
              .boat_cnt
                img(src="img/boat_4.png" alt="")
                .boat_title
                  | Медведь
            figure.col-md-3.owl-item_slider.d-md-inline-block
              .boat_cnt
                img(src="img/boat_4.png" alt="")
                .boat_title
                  | Медведь
        // </div>
        // /.Slides
      .controls-top
        a.btn-floating.btn-secondary(data-slide="prev")
          span.left-icon
            svg.icon(width="11" height="18")
              use(xlink:href="#chevron")
        a.btn-floating.btn-secondary(data-slide="next")
          span.right-icon
            svg.icon(width="11" height="18")
              use(xlink:href="#chevron")
      // /.Carousel Wrapper
      .col-lg-12
        .pagination
          ul
            li.pag_prev
              a(href="#")
                svg.icon(width="13" height="10")
                  use(xlink:href="#double_chevron")
            li.active
              a(href="#") 1
            li
              a(href="#") 2
            li
              a(href="#") 3
            li
              a(href="#") ...
            li.pag_next
              a(href="#")
                svg.icon(width="13" height="10")
                  use(xlink:href="#double_chevron")
