.stock-slider
  display: flex
  z-index: 100
  padding: 0 63px
  .slick-slide
    padding: 0 20px
  &__wrap
    position: relative
    width: 100%
    background: #f4f9ff
    padding: 50px 0
  &__item
    display: flex
    background: #fff
    border: 2px solid #e2e2e2
    border-radius: 5px
    &:hover
      border: 2px solid #f9c300!important
  &__image
    width: 100%
  &__title
    background: #d2dfff
    padding: 17px 0px 38px 0px
    width: 100%
  &__text
    color: #767676
    font-size: 13px
    line-height: 20px
  &__market
    float: left
  &__date
    float: right
  &__bg1
    position: absolute
    left: -50px
    bottom: 0
    width: 250px
    height: 250px
    z-index: 50
    opacity: .5
    background: url(../../img/slider/left.png) 0px 0px no-repeat
    @media (max-width: 992px)
      top: 0px
      background: url(../../img/slider/left_2.png) -43px 20px no-repeat

  &__bg2
    position: absolute
    right: 0
    bottom: 0
    width: 250px
    height: 250px
    z-index: 50
    opacity: .5
    background: url(../../img/slider/right.png) 10px -150px no-repeat
    @media (max-width: 992px)
      top: 0px
      background: url(../../img/slider/right_2.png) -100px 0px no-repeat
