.stock-slider__wrap
  h3.title_h2.title_cente Акции других магазинов
  .stock-slider.container
    .stock-slider__item
      .stock-slider__content
        a.img(href="/")
          img(src="img/new1.png" alt="")
        .stock-slider__inform
          a(href="#").stock-slider__title Здесь будет длинный текст в 2 строки
          .stock-slider__.date
            span 28.03.18
            span 16:30
          p
            | Во многих странах мира охота из лука запрещена. Ведущий инженер по охотничьему хозяйству Осипова, а именно в районе принадлежащ...
          .news-item-content-action-block.d-flex.justify-content-center
    .stock-slider__item
      .stock-slider__content
        a.img(href="/")
          img(src="img/new1.png" alt="")
        .stock-slider__inform
          a(href="#").stock-slider__title Здесь будет длинный текст в 2 строки
          .stock-slider__.date
            span 28.03.18
            span 16:30
          p
            | Во многих странах мира охота из лука запрещена. Ведущий инженер по охотничьему хозяйству Осипова, а именно в районе принадлежащ...
          .news-item-content-action-block.d-flex.justify-content-center
    .stock-slider__item
      .stock-slider__content
        a.img(href="/")
          img(src="img/new1.png" alt="")
        .stock-slider__inform
          a(href="#").stock-slider__title Здесь будет длинный текст в 2 строки
          .stock-slider__.date
            span 28.03.18
            span 16:30
          p
            | Во многих странах мира охота из лука запрещена. Ведущий инженер по охотничьему хозяйству Осипова, а именно в районе принадлежащ...
          .news-item-content-action-block.d-flex.justify-content-center
    .stock-slider__item
      .stock-slider__content
        a.img(href="/")
          img(src="img/new1.png" alt="")
        .stock-slider__inform
          a(href="#").stock-slider__title Здесь будет длинный текст в 2 строки
          .stock-slider__.date
            span 28.03.18
            span 16:30
          p
            | Во многих странах мира охота из лука запрещена. Ведущий инженер по охотничьему хозяйству Осипова, а именно в районе принадлежащ...
          .news-item-content-action-block.d-flex.justify-content-center
    .stock-slider__item
      .stock-slider__content
        a.img(href="/")
          img(src="img/new1.png" alt="")
        .stock-slider__inform
          a(href="#").stock-slider__title Здесь будет длинный текст в 2 строки
          .stock-slider__.date
            span 28.03.18
            span 16:30
          p
            | Во многих странах мира охота из лука запрещена. Ведущий инженер по охотничьему хозяйству Осипова, а именно в районе принадлежащ...
          .news-item-content-action-block.d-flex.justify-content-center
    .stock-slider__item
      .stock-slider__content
        a.img(href="/")
          img(src="img/new1.png" alt="")
        .stock-slider__inform
          a(href="#").stock-slider__title Здесь будет длинный текст в 2 строки
          .stock-slider__.date
            span 28.03.18
            span 16:30
          p
            | Во многих странах мира охота из лука запрещена. Ведущий инженер по охотничьему хозяйству Осипова, а именно в районе принадлежащ...
          .news-item-content-action-block.d-flex.justify-content-center
    .stock-slider__item
      .stock-slider__content
        a.img(href="/")
          img(src="img/new1.png" alt="")
        .stock-slider__inform
          a(href="#").stock-slider__title Здесь будет длинный текст в 2 строки
          .stock-slider__.date
            span 28.03.18
            span 16:30
          p
            | Во многих странах мира охота из лука запрещена. Ведущий инженер по охотничьему хозяйству Осипова, а именно в районе принадлежащ...
          .news-item-content-action-block.d-flex.justify-content-center
    .stock-slider__item
      .stock-slider__content
        a.img(href="/")
          img(src="img/new1.png" alt="")
        .stock-slider__inform
          a(href="#").stock-slider__title Здесь будет длинный текст в 2 строки
          .stock-slider__.date
            span 28.03.18
            span 16:30
          p
            | Во многих странах мира охота из лука запрещена. Ведущий инженер по охотничьему хозяйству Осипова, а именно в районе принадлежащ...
          .news-item-content-action-block.d-flex.justify-content-center
  .stock-slider__bg1
  .stock-slider__bg2
