.stock-slider__wrap
  h3.title_h1.title_center.stock-slider__wrap_title Акции других магазинов
  .stock-slider.container
    .stock-slider__item
      .stock-slider__content
        a.img(href="/")
          img(src="../../img/slider/images/1.jpg" alt="").stock-slider__image
        .stock-slider__inform
          a(href="#").stock-slider__title.title_center Здесь будет длинный текст в 2 строки
          p.stock-slider__text Во многих странах мира охота из лука запрещена. Ведущий инженер по охотничьему хозяйству Осипова, а именно в районе принадлежащ...
          .stock-slider__info-text
            p Магазин: Globaldrive
            p до 28.03.18
    .stock-slider__item
      .stock-slider__content
        a.img(href="/")
          img(src="../../img/slider/images/1.jpg" alt="").stock-slider__image
        .stock-slider__inform
          a(href="#").stock-slider__title.title_center Все по цене х3
          p.stock-slider__text Во многих странах мира охота из лука запрещена. Ведущий инженер по охотничьему хозяйству Осипова, а именно в районе принадлежащ...
          .stock-slider__info-text
            p Магазин: Globaldrive
            p до 28.03.18
    .stock-slider__item
      .stock-slider__content
        a.img(href="/")
          img(src="../../img/slider/images/1.jpg" alt="").stock-slider__image
        .stock-slider__inform
          a(href="#").stock-slider__title.title_center Все по цене х3
          p.stock-slider__text Во многих странах мира охота из лука запрещена. Ведущий инженер по охотничьему хозяйству Осипова, а именно в районе принадлежащ...
          .stock-slider__info-text
            p Магазин: Globaldrive
            p до 28.03.18
    .stock-slider__item
      .stock-slider__content
        a.img(href="/")
          img(src="../../img/slider/images/1.jpg" alt="").stock-slider__image
        .stock-slider__inform
          a(href="#").stock-slider__title.title_center Здесь будет длинный текст в 2 строки
          p.stock-slider__text Во многих странах мира охота из лука запрещена. Ведущий инженер по охотничьему хозяйству Осипова, а именно в районе принадлежащ...
          .stock-slider__info-text
            p Магазин: Globaldrive
            p до 28.03.18
    .stock-slider__item
      .stock-slider__content
        a.img(href="/")
          img(src="../../img/slider/images/1.jpg" alt="").stock-slider__image
        .stock-slider__inform
          a(href="#").stock-slider__title.title_center Здесь будет длинный текст в 2 строки
          p.stock-slider__text Во многих странах мира охота из лука запрещена. Ведущий инженер по охотничьему хозяйству Осипова, а именно в районе принадлежащ...
          .stock-slider__info-text
            p Магазин: Globaldrive
            p до 28.03.18
    .stock-slider__item
      .stock-slider__content
        a.img(href="/")
          img(src="../../img/slider/images/1.jpg" alt="").stock-slider__image
        .stock-slider__inform
          a(href="#").stock-slider__title.title_center Здесь будет длинный текст в 2 строки
          p.stock-slider__text Во многих странах мира охота из лука запрещена. Ведущий инженер по охотничьему хозяйству Осипова, а именно в районе принадлежащ...
          .stock-slider__info-text
            p Магазин: Globaldrive
            p до 28.03.18
