extends ../../common.blocks/base/base
block head
block title
  | О нас
block main
  main
    .container
      .row
        include ../../common.blocks/breadcrumb/breadcrumb
        section.pl-0.pr-0.pb-0.col-12
            h2 Первый маркет-плейс товаров для активного отдыха
            div.tm-media(style="background-image: url('../../img/delivery-1.png')")
                div.yellow-circle
                  svg.icon(width="22" height="28" viewBox="0 0 22 28" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M22 14L.25 27.856V.144L22 14z" fill="#fff")
                  video(src="../../video/fishing.mp4" id="movie1" style="display: none")
        section.mt-5
            .row
                .col-12
                h3 Что такое MarketPlace
            .row.mt-lg-5.mt-md-4.mt-4
                .col-lg-3
                img.img-fluid(src="img/about-1.png")
                .col-lg-9.pl-lg-4.mt-lg-0.mt-md-4.mt-4
                p
                    | Сейчас морской транспорт стал более доступным для частных нужд как никогда раньше. Сконструировано множество лодок больших и малых размеров, которые используются для туризма, развлечения или рыбалки. Очень популярны среди них модели из ПВХ, отличающиеся малым весом, компактными транспортировочными размерами и высокой скоростью, благодаря подсоединенному мотору.
                p
                    | Сейчас морской транспорт стал более доступным для частных нужд как никогда раньше. Сконструировано множество лодок больших и малых размеров, которые используются для туризма, развлечения или рыбалки.
        section
            .row
                .col-12
                h3 Что такое NordKit
            .row
                .col-lg-3.mt-4
                .tm-col-media(style="background-image: url('img/about-1.png')")
                    .tm-media-btn
                .tm-link
                    a(href="#" target="_blank") Посмотреть на YouTube
                .col-lg-9.pl-lg-4.mt-4
                p
                    | Сейчас морской транспорт стал более доступным для частных нужд как никогда раньше. Сконструировано множество лодок больших и малых размеров, которые используются для туризма, развлечения или рыбалки. Очень популярны среди них модели из ПВХ, отличающиеся малым весом, компактными транспортировочными размерами и высокой скоростью, благодаря подсоединенному мотору.  Сейчас морской.
                p
                    | Транспорт стал более доступным для частных нужд как никогда раньше. Сконструировано множество лодок больших и малых размеров, которые используются для туризма.
                .flex-row.tm-mobile-hide.tm-mt-45
                    .tm-info-yellow
                    .tm-info-yellow-title.tm-info-yellow-title-bg-large 14 000 +
                    .tm-info-yellow-desc
                        p Товары для активного отдыха
                    .tm-info-yellow
                    .tm-info-yellow-title.tm-info-yellow-title-bg-small 160 +
                    .tm-info-yellow-desc
                        p Покупателей каждый день
                    .tm-info-yellow
                    .tm-info-yellow-title.tm-info-yellow-title-bg-small 70 +
                    .tm-info-yellow-desc
                        p Брендов со всего мира
                    .tm-info-yellow
                    .tm-info-yellow-title.tm-info-yellow-title-bg-small 40 +
                    .tm-info-yellow-desc
                        p Лучших магазинов России
            .tm-row-mobile
                .flex-row.tm-mt-45
                .tm-info-yellow
                    .tm-info-yellow-title.tm-info-yellow-title-bg-large 14 000 +
                    .tm-info-yellow-desc
                    p Товары для активного отдыха
                .tm-info-yellow
                    .tm-info-yellow-title.tm-info-yellow-title-bg-small 160 +
                    .tm-info-yellow-desc
                    p Покупателей каждый день
                .tm-info-yellow
                    .tm-info-yellow-title.tm-info-yellow-title-bg-small 70 +
                    .tm-info-yellow-desc
                    p Брендов со всего мира
                .tm-info-yellow
                    .tm-info-yellow-title.tm-info-yellow-title-bg-small 40 +
                    .tm-info-yellow-desc
                    p Лучших магазинов России
        section.pt-0.tm-section-col-1
            .row
                .col-12
                h3 История создания
            .row
                .col-lg-3.mt-4
                .tm-col-media(style="background-image: url('img/about-3.png')")
                .col-lg-9.pl-lg-4.mt-4
                .row
                    .tm-history-box
                    .tm-history-year 2015 г.
                    .tm-history-desc
                        | Появление идеи о создании чего-то нового, удобного, что вмещало бы в себя все плюсы магазинов онлайн.
                .row
                    .tm-history-box
                    .tm-history-year 2016 г.
                    .tm-history-desc
                        | Более доступным для частных нужд как никогда раньше. Сконструировано множество лодок больших и малых размеров, которые используются для туризма.
                .row
                    .tm-history-box
                    .tm-history-year 2019 г.
                    .tm-history-desc
                        | Транспорт стал более доступным для частных нужд как никогда раньше. Сконструировано множество лодок больших и малых размеров, которые используются для туризма.
    .container-fluid.tm-container
      section.pl-0.pr-0
        .tm-banner-check-box
          .tm-banner-check-img
          .tm-banner-text-container
            .tm-banner-text-title
              h3 Лучшие товары и цены на рынке
            .tm-banner-text
              p
                | Сейчас морской транспорт стал более доступным для частных нужд как никогда раньше. Сконструировано множество лодок больших и малых размеров, которые используются для туризма, развлечения или рыбалки. Очень популярны среди них модели из ПВХ, отличающиеся малым весом, компактными транспортировочными размерами и высокой скоростью, благодаря подсоединенному мотору.  Сейчас морской. Транспорт стал более доступным для частных нужд как никогда раньше. Сконструировано множество лодок больших и малых размеров, которые используются для туризма.
            .tm-banner-check
              img.img-fluid(src="img/check.svg")
            a.tm-banner-button(href="#") Перейти в каталог
    .container-fluid.tm-banner2
      .container
        .row
          .tm-banner2-col1
            img(src="img/Aviation-Global-Group-Request-quote-miami-1.png")
          .tm-banner2-col2
            form.tm-banner-form
              .tm-banner-form-title
                | Получите
                div Бесплатную консультацию
                |                             эксперта по подбору лучшей модели
              div
                span.tm-icon-user
                  input(type="text" placeholder="Имя")
                span.tm-icon-phone
                  input(type="text" placeholder="Телефон")
                span
                  button(type="submit") Получить помощь
              .tm-banner-form-agree
                label.tm-container
                  | Нажимая на кнопку, “Получить помощь” вы даете согласие на обработку своих персональных данных в соотвествии с 
                  a(href="#") политикой конфиденциальности
                  input(type="checkbox")
                  span.tm-checkmark
          .tm-banner2-slogan-container-box
            .tm-banner2-slogan-container
              .tm-banner2-slogan
                div
                  | Мы подберем варианты,
                  br
                  |  наиболее подходящие именно Вам
