extends ../../common.blocks/base/base
block title
  | Карта сайта
block main
  main
    div.container
      div.row
        include ../../common.blocks/breadcrumb/breadcrumb
    .container.s-map
      div.row
        h1.title_h1 Карта сайта
        ul
          li 
            a(href='#') Главная
          li 
            a(href='#') Доставка
          li 
            a(href='#') Оплата
          li 
            a(href='#') Покупателю
          li 
            a(href='#') Журнал
          li 
            a(href='#') О нас
          li.has-child
            a(href='#') Каталог
            ul.s-map_ul_in_line_1_level
              li.s-map_li_in_line_1_level 
                a(href='#') Лодочные моторы в Москве: купить, продажа в КРЕДИТ
                
                ul.text-muted
                  li 
                    a(href='#') Винты на лодочный мотор в Москве
                  li 
                    a(href='#') Гидрокрыло для лодочного мотора в Москве
                  li 
                    a(href='#') Дистанционное управление на лодочный мотор в Москве
                  li 
                    a(href='#') Масло для лодочных моторов в Москве
                  li 
                    a(href='#') Чехлы на лодочные моторы в Москве
                  li 
                    a(href='#') Водометные насадки на лодочные моторы в Москве
                  li 
                    a(href='#') Топливные баки на лодочные моторы в Москве
                  li 
                    a(href='#') Запчасти для лодочных моторов в Москве
                    ul
                      li 
                        a(href='#') Запчасти для лодочных моторов Yamaha-Ямаха в Москве
                      li 
                        a(href='#') Запчасти для лодочных моторов Тохатсу в Москве
                      li 
                        a(href='#') Запчасти для лодочных моторов Сеа Про в Москве
                      li 
                        a(href='#') Запчасти для лодочных моторов Хидея в Москве
                  li 
                    a(href='#') Лодочные моторы 9.8 л.с. в Москве

              li.s-map_li_in_line_1_level  
                a(href='#') Лодки ПВХ в Москве: купить надувную лодку ПВХ в КРЕДИТ
                
                ul.text-muted
                  li 
                    a(href='#') Прицепы для лодки ПВХ в Москве
                  li  
                    a(href='#') Тенты для лодки ПВХ в Москве
                  li
                    a(href='#') Чехлы на лодку ПВХ в Москве
                  li
                    a(href='#') Алюминиевые пайолы для лодки ПВХ в Москве
                  li
                    a(href='#') Надувные матрасы, аирдеки для лодки ПВХ в Москве
                  li
                    a(href='#') Лента для бронирования лодки ПВХ в Москве
                  li
                    a(href='#') Насосы для лодки ПВХ в Москве
                  li
                    a(href='#') Клапаны для лодки ПВХ в Москве
                  li
                    a(href='#') Якори для лодки ПВХ в Москве
                  li
                    a(href='#') Спасательные жилеты на лодку ПВХ в Москве
                  li
                    a(href='#') Скамейки для лодки ПВХ в Москве
                  li
                    a(href='#') Весла для лодки ПВХ в Москве
                  li
                    a(href='#') Жесткое дно
                  li
                    a(href='#') Плоское дно
                  li
                    a(href='#') Тоннельные
                  li
                    a(href='#') Тримаран
                  li
                    a(href='#') С фальшбортом
                  li
                    a(href='#') Надувное дно

              li.s-map_li_in_line_1_level
                a(href='#') Катер - лодка РИБ (RIB) в Москве
                
                ul.text-muted
                  li
                    a(href='#') Лодки РИБ (катер RIB) с алюминиевым
                  li
                    a(href='#') дном в Москве

              li.s-map_li_in_line_1_level
                a(href='#') SUP-доски, серфинг в Москве: купить SUP board, КРЕДИТ
                
                ul.text-muted
                  li
                    a(href='#') Дизайнерские SUPы в Москве
                  li
                    a(href='#') Весла для SUP доски
                  li
                    a(href='#') Универсальные SUPы в Москве
                  li
                    a(href='#') Винд SUPы в Москве
                  li
                    a(href='#') Туринговые SUPы в Москве
                  li
                    a(href='#') Спортивные SUPы в Москве
                  li
                    a(href='#') Прогулочные SUPы в Москве
                  li
                    a(href='#') SUPы для йоги в Москве
                  li
                    a(href='#') SUPы для серфинга в Москве

              li.s-map_li_in_line_1_level 
                a(href='#') Квадроциклы в Москве
                
                ul.text-muted
                  li
                    a(href='#') Лодочные моторы б/у в Москве
                  li
                    a(href='#') Аксессуары
                  li
                    a(href='#') Мотобуксировщики (мотособаки) 
                  li
                    a(href='#') в Москве: купить, продажа, КРЕДИТ

              li.s-map_li_in_line_1_level
                a(href='#') Охота и рыбалка
                
                ul.text-muted
                  li
                    a(href='#') Фонари и аксессуары
                  li
                    a(href='#') Фонари светодиодные
                  li
                    a(href='#') Фонари налобные
                  li
                    a(href='#') Фонари кемпинговые
                  li
                    a(href='#') Фонари аккумуляторные
                  li
                    a(href='#') Мультифонари
                  li
                    a(href='#') Аксессуары для фонарей
                  li
                    a(href='#') Очки и наушники
                  li
                    a(href='#') Очки баллистические
                  li
                    a(href='#') Наушники стрелковые
                  li
                    a(href='#') Одежда для охоты
                  li
                    a(href='#') Манки
                  li
                    a(href='#') Духовые манки
                  li
                    a(href='#') Электронные манки
                  li
                    a(href='#') Ножи и инструменты
                  li
                    a(href='#') Мультитулы
                  li
                    a(href='#') Ножи перочинные

              li.s-map_li_in_line_1_level
                a(href='#') Силовая техника
                ul.text-muted
                  li
                    a(href='#') Цепные пилы в Москве
                    ul
                      li
                        a(href='#') Электрические пилы (электропилы) в Москве
                      li
                        a(href='#') Бензиновые пилы (бензопилы) в Москве
                  li
                    a(href='#') Электрогенераторы в Москве
                    ul
                      li
                        a(href='#') Дизельные генераторы в Москве
                      li
                        a(href='#') Бензиновые генераторы
                      li
                        a(href='#') Газовые генераторы (газовые электрогенераторы) в Москве
                      li
                        a(href='#') Сварочные генераторы в Москве
                      li
                        a(href='#') Инверторные генераторы в Москве
                  li
                    a(href='#') Культиваторы
                    ul
                      li
                        a(href='#') Газонокосилки: купить в Москве
                      li
                        a(href='#') Газонокосилки бензиновые
                      li
                        a(href='#') Газонокосилки электрические
                  li
                    a(href='#') Снегоуборщики, снегоуборочные машины в Москве
                    ul
                      li
                        a(href='#') Электрические снегоуборщики в Москве
                      li
                        a(href='#') Бензиновые снегоуборщики в Москве
                      li
                        a(href='#') Гусеничные снегоуборщики
                  li
                    a(href='#') Мотоблоки
          li
            a(href='#') Бренды
          li
            a(href='#') Поставщикам
          li
            a(href='#') Дестрибьютерам
          li
            a(href='#') Поиск
          li
            a(href='#') Избранное
          li
            a(href='#') Сравнение
          li
            a(href='#') Контакты
