.single-product__video_section.color-white
  .container
    .row
      .col-12.text-center
        h2.title Посмотрите видео
        p про Лодку ПВХ Штормлайн (Stormline) Adventure Standard 310
        .video
          iframe(width="930" height="403" src="https://www.youtube.com/embed/qV-vY0p-8mA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
        h3 Лодка Ривьера 3400 СК версии
        p Здесь небольшое описание видео
