div.video-block
    video#movie1(src="../video/fishing.mp4")
    .yellow-circle
        svg.icon
            symbol(viewBox="0 0 22 28" fill="none" xmlns="http://www.w3.org/2000/svg" id="play_icon")
                path(d="M22 14L.25 27.856V.144L22 14z" fill="#fff")