button.btn.btn-primary(data-target="#cities" data-toggle="modal" type="button")
  | город
#cities.modal(aria-hidden="true" aria-labelledby="exampleModalLabel" role="dialog" tabindex="-1")
  .modal-dialog(role="document")
    .modal-content
      .choose-cities
        .choose-top
          .choose-cnt
            p Выберите ваш город
            button.button-close(aria-label="Close" data-dismiss="modal")
              svg.icon.bookmark_fill(height="15" width="15")
                use(xlink:href="#close-icon")
          input#searchCities(placeholder="Ваш город" type="text")
        .choose-bottom
          .cities-listed
            ul
              li.letter(data-letter="а") Адлер
              li Алексин
              li Архангельск
              li Астрахань
            ul
              li.letter(data-letter="б") Балашиха
              li Барнаул
              li Батайск
              li Белгород
              li Брянск
            ul
              li.letter(data-letter="г") Гатчина
            ul
              li.letter(data-letter="д") Дзержинск
              li Дмитров
              li Долгопрудный
              li Домодедово
              li Дубна
            ul
              li.letter(data-letter="е") Екатеринбург
            ul
              li.letter(data-letter="ж") Железнодорожный
              li Жуковский
            ul
              li.letter(data-letter="з") Зеленоград
            ul
              li.letter(data-letter="и") Иваново
              li Ижевск
            ul
              li.letter(data-letter="Й") Йошкар-Ола
            ul
              li.letter(data-letter="з") Зеленоград
            ul
              li.letter(data-letter="з") Зеленоград
              li lorem ipsum
              li lorem ipsum
              li lorem ipsum
              li lorem ipsum
              li lorem ipsum
              li lorem ipsum
              li lorem ipsum
              li lorem ipsum
            ul
              li.letter(data-letter="з") Зеленоград
              li Lorem Ips
              li Lorem Ips
              li Lorem Ips
              li Lorem Ips
              li Lorem Ips
              li Lorem Ips
              li Lorem Ips
            ul
              li.letter(data-letter="з") Зеленоград
              li Lorem
              li Lorem
              li Lorem
              li Lorem
              li Lorem
              li Lorem
            ul
              li.letter(data-letter="з") Зеленоград
            ul
              li.letter(data-letter="з") Зеленоград
            ul
              li.letter(data-letter="з") Зеленоград
            ul
              li.letter(data-letter="з") Зеленоград
            ul
              li.letter(data-letter="з") Зеленоград
