extends ../../common.blocks/base/base
block head
  link(rel="stylesheet" type="text/css" href="../catalog/css/owl.carousel.min.css")
  link(rel="stylesheet" type="text/css" href="../catalog/sass/main.css")
  link(rel="stylesheet" type="text/css" href="../catalog/sass/media.css")
  link(rel="stylesheet" type="text/css" href="../catalog/sass/ion.rangeSlider.min.css")
  link(rel="stylesheet" type="text/css" href="../sass/theme.css")
block title
  | Простая страница
block main
  main
    .container
      h1 Привет пользователь
