section.module-gallery.module-12345.row
  .maxWidth900.padLR15
    .padTB20
      .slider-wrapper
        ul.slider-thumb.noPad.noMar
          li.type-image
            img(src="img/river-3400-8-600x365.png" alt="")
          li.type-image
            img(src="img/river-3400-8-600x365.png" alt="")
          li.type-image
            img(src="img/river-3400-8-600x365.png" alt="")
          li.type-image
            img(src="img/river-3400-8-600x365.png" alt="")
          li.type-image
            img(src="img/river-3400-8-600x365.png" alt="")
          li.type-image
            img(src="img/river-3400-8-600x365.png" alt="")
          li.type-image
            img(src="img/river-3400-8-600x365.png" alt="")
          li.type-image
            img(src="img/river-3400-8-600x365.png" alt="")
        ul.slider-preview.noPad.noMar
          li.type-image
            img(src="img/river-3400-8-600x365.png" alt="")
          li.type-image
            img(src="img/river-3400-8-600x365.png" alt="")
          li.type-image
            img(src="img/river-3400-8-600x365.png" alt="")
          li.type-image
            img(src="img/river-3400-8-600x365.png" alt="")
          li.type-image
            img(src="img/river-3400-8-600x365.png" alt="")
          li.type-image
            img(src="img/river-3400-8-600x365.png" alt="")
          li.type-image
            img(src="img/river-3400-8-600x365.png" alt="")
          li.type-image
            img(src="img/river-3400-8-600x365.png" alt="")
