div.col-lg-12
    ul.breadcrumbs
        li
        a(href="#")
            svg(class="icon" width="17" height="7")
            use(xlink:href="#arrow-long") 
            span Назад
        li
        a(href="#")
            span Главная
        li
        a(href="#")
            span Лодки ПВХ