extends ../../common.blocks/base/base
block title
  | Заявка принята - детали
block main
  main
    div.container
      div.row
        include ../../common.blocks/breadcrumb/breadcrumb
    .container.app-details
      h1.title_h1.title_center Заявка принята
      .app-details__content
        .app-details__item
          .app-details__nav
            .app-details__block-num Номер заказа - 
              strong 39459
            a.app-details__block-details_link Детали заказа
            
        .app-details__item.app-details_item_border.app-details_js.d-none
          .app-details__book
            p.app-details_dots
              span Дата
              span 24.03.2019
            p.app-details_dots 
              span Фио
              span Иванов Маким Леонидович
            p.app-details_dots 
              span Адрес доставки
              span г. Москва, ул. Просвещения, д.2, к.5, кв. 78
            p.app-details_dots 
              span Способ оплаты
              span Оплата при получении после проверки
          .row
            .col-12.app-details_bg_blue
              .title_h3 Товар
          .row
            .col-12.app-details_border-bottom_blue
              img(src=require('../../img/items/boat-motor.jpg') alt="").app-details__img
              .app-details__title Лодочный мотор Микатсу (Mikatsu) M15FHS (15 л.с., 2 такта)
              .app-details__sub-title.text-muted Код товара: 2-20011a-00102в
              .app-details__desc 1 × 30 000 р.
          .row
            .col-12.app-details_border-bottom_blue
              img(src=require('../../img/items/boat.jpg') alt="").app-details__img
              .app-details__title Лодка ПВХ Ривьера 3600 СК (КОМПАКТ) надувная под мотор комби светлосерый-синий
              .app-details__sub-title.text-muted Код товара: 2-20011a-00102в
              .app-details__desc 3 × 70 000 р.
          .row
            .col-6.text-left Общая стоимость:
            .col-6.text-right 250 000 р.
        .row
          .col-12.text-center.app-details_js-go-main
            a(href="/").button.button--yellow.btn-size_xs.app-details_margin_space На главную
