div.container-fluid.tm-banner2
  div.container
    div.row
      div.tm-banner2-col1
          img(src="../img/Aviation-Global-Group-Request-quote-miami-1.png")
      div.tm-banner2-col2
        form.tm-banner-form
          div.tm-banner-form-title Получите
            div Бесплатную консультацию
            | эксперта по подбору лучшей модели
          div
            span.tm-icon-user
              input(type="text" placeholder="Имя")
            span.tm-icon-phone
              input(type="text" placeholder="Телефон")
            span
              button(type="submit") Получить помощь
          div.tm-banner-form-agree
                label.tm-container Нажимая на кнопку, “Получить помощь” вы даете согласие на обработку своих персональных данных в соотвествии с 
                  a(href="#") политикой конфиденциальности
                    input(type="checkbox")
                    span.tm-checkmark 
      div.tm-banner2-slogan-container-box
        div.tm-banner2-slogan-container
          div.tm-banner2-slogan
            div Мы подберем варианты,<br> наиболее подходящие именно Вам
