extends ../../common.blocks/base/base
block title
  | Сравнение товаров
block main
  main
    div.container
      div.row
        include ../../common.blocks/breadcrumb/breadcrumb
        .container
          //- .trafaret-compare
          h1.title_h1(style="margin-bottom:48px") Сравнение товаров
          include ../../common.blocks/compare-slider/compare-slider
          .compare
            h2.title_h2(style="margin-bottom:35px;") Характеристики
            .compare__items
              .compare__item.compare__item_bg_blue.compare__item-first
                .compare__item-opis
                  .compare__item-title Лодка
                  .compare__item-content 1 шт
                .compare__item-desc 1 шт
                .compare__item-desc 1 шт
                .compare__item-desc 1 шт
              .compare__item.compare__item_bg_blue
                .compare__item-opis
                  .compare__item-title Серия
                  .compare__item-content Premium
                .compare__item-desc Ривера
                .compare__item-desc Аква
                .compare__item-desc Стандарт
              .compare__item.compare__item_bg_blue
                .compare__item-opis
                  .compare__item-title Производитель
                  .compare__item-content Стефа
                .compare__item-desc Мастер Лодок
                .compare__item-desc Мастер Лодок
                .compare__item-desc Стефа
              .compare__item.compare__item_bg_blue
                .compare__item-opis
                  .compare__item-title Длина (мм)
                    i ?
                  .compare__item-content 3 600
                .compare__item-desc 3 600
                .compare__item-desc 2 800
                .compare__item-desc 2 800
              .compare__item
                .compare__item-opis
                  .compare__item-title Ширина (мм)
                    i ?
                  .compare__item-content 1 400
                .compare__item-desc 1 400
                .compare__item-desc 1 400
                .compare__item-desc 1 400
              .compare__item.compare__item_bg_blue
                .compare__item-opis
                  .compare__item-title Диаметр борта (мм)
                    i ?
                  .compare__item-content 3 600
                .compare__item-desc 3 600
                .compare__item-desc 2 800
                .compare__item-desc 2 800
              .compare__item
                .compare__item-opis
                  .compare__item-title Масса лодки (кг)
                    i ?
                  .compare__item-content 36
                .compare__item-desc 22
                .compare__item-desc 43
                .compare__item-desc 32
              .compare__item
                .compare__item-opis
                  .compare__item-title Киль
                    i ?
                  .compare__item-content есть
                .compare__item-desc Есть
                .compare__item-desc -
                .compare__item-desc 3 нет
              .compare__item.compare__item_bg_blue
                .compare__item-opis
                  .compare__item-title Вид
                    i ?
                  .compare__item-content моторная
                .compare__item-desc моторная
                .compare__item-desc моторная
                .compare__item-desc моторная

            h2.title_h2(style="margin:70px 0 38px 0") Комплектация
            .compare__items
              .compare__item.compare__item_bg_blue
                .compare__item-opis
                  .compare__item-title Лодка
                  .compare__item-content 1 шт
                .compare__item-desc 1 шт
                .compare__item-desc 1 шт
                .compare__item-desc 1 шт
              .compare__item.compare__item_bg_blue
                .compare__item-opis
                  .compare__item-title Паспорт
                  .compare__item-content 1 шт
                .compare__item-desc 1 шт
                .compare__item-desc 1 шт
                .compare__item-desc 1 шт
              .compare__item.compare__item_bg_blue
                .compare__item-opis
                  .compare__item-title Весла или гребки
                  .compare__item-content 2 шт
                .compare__item-desc весла
                .compare__item-desc весла
                .compare__item-desc весла
              .compare__item.compare__item_bg_blue
                .compare__item-opis
                  .compare__item-title Весла (гребки)
                    i ?
                  .compare__item-content 2 шт
                .compare__item-desc 2 шт
                .compare__item-desc 2 шт
                .compare__item-desc 2 шт
              .compare__item
                .compare__item-opis
                  .compare__item-title Насос
                    i ?
                  .compare__item-content 1 шт
                .compare__item-desc 1 шт
                .compare__item-desc 1 шт
                .compare__item-desc 1 шт
              .compare__item
                .compare__item-opis
                  .compare__item-title Диаметр борта (мм)
                    i ?
                  .compare__item-content 3 600
                .compare__item-desc 3 600
                .compare__item-desc 2 800
                .compare__item-desc 20 800
              .compare__item
                .compare__item-opis
                  .compare__item-title Масса лодки (кг)
                    i ?
                  .compare__item-content 36
                .compare__item-desc 22
                .compare__item-desc 43
                .compare__item-desc 32
              .compare__item
                .compare__item-opis
                  .compare__item-title Киль
                    i ?
                  .compare__item-content есть
                .compare__item-desc есть
                .compare__item-desc -
                .compare__item-desc нет
              .compare__item.compare__item_bg_blue
                .compare__item-opis
                  .compare__item-title Вид
                    i ?
                  .compare__item-content моторная
                .compare__item-desc моторная
                .compare__item-desc моторная
                .compare__item-desc моторная
