extends ../../common.blocks/base/base
block title
  | Регистрация
block main
  main
    .check-in__wrapp
      .container
        h1.title_h1.title_center Регистрация
        .check-in__form-wrapp
          form(action="#" enctype="text/plain" name="check-in")
            .row
              .form-group.col-6
                input(type='text' name='name' value='' placeholder='Ваше имя').form-control
              .form-group.col-6
                input(type='text' name='phone' value='' placeholder='Телефон').form-control
            .row
              .form-group.col-6
                input(type='text' name='mail' value='' placeholder='E-mail').form-control
              .form-group.col-6
                input(type='text' name='city' value='' placeholder='Город').form-control
            .row
              .form-group.col-12
                input(type='text' name='address' value='' placeholder='Адрес').form-control
            .row
              .form-group.col-12
                .agreements 
                  label.radio_input(for="radio")
                    input#radio(type="radio")
                    span.radio-check
                  p Нажимая на кнопку "Регистрация", вы соглашаетесь с пользовательским соглашением и политикой конфиденциальности
            .row
              .form-group.col-12
                button(href="#").btn.button.button-golden-bg.w-100.text-uppercase Регистрация
            .row
              .form-group.col-12.text-center.text-uppercase
                a(href="#").check-in__entrance Войти
