extends ../../common.blocks/base/base
block title
  | Регистрация
block main
  main
    .check-in__wrapp
      .container
        h1.title_center.check-in_title_padding_bottom Регистрация
        .check-in__form-wrapp
          form(action="#" enctype="text/plain" name="check-in")
            .row
              .form-group.col-md-6.col-sm-12
                input(type='text' name='name' value='' placeholder='Ваше имя').form-control.input_theme_blue-sky
              .form-group.col-md-6.col-sm-12
                input(type='text' name='phone' value='' placeholder='Телефон').form-control.input_theme_blue-sky
            .row
              .form-group.col-md-6.col-sm-12
                input(type='text' name='mail' value='' placeholder='E-mail').form-control.input_theme_blue-sky
              .form-group.col-md-6.col-sm-12
                select.form-control.input_theme_blue-sky(name='city')
                  option(value='0' selected) Город
                  option(value='1') Астрахань
                  option(value='2') Саратов
                  option(value='3') Воронеж
                  option(value='4') Балашиха))
                  option(value='5') Москва
                  option(value='6') Питер
                  option(value='7') Шмитер
                  option(value='8') Жопск
                  option(value='9') Мухосранск
            .row
              .form-group.col-12
                input(type='text' name='address' value='' placeholder='Адрес').form-control.input_theme_blue-sky
            .row
              .form-group.col-12
                .popup-form-bottom
                  .checkbox_cnt
                    input#check70(style="display: none" type="checkbox")
                    label(for="check70")
                      span.check_cnt.check-yellow
                        svg.icon
                          use(xlink:href="#yellow-check")
                      p Нажимая на кнопку, “Получить помощь” вы даете согласие на обработку своих персональных данных в соотвествии с
                        a(href="#") политикой конфиденциальности
                .check-in__agreements
                  label.radio_input(for="radio")
                    input#radio(type="radio")
                    span.radio-check
                    p.text-secondary.title_5 Нажимая на кнопку "Регистрация", вы соглашаетесь с 
                      a(href="#").link_line_yellow.text-dark пользовательским соглашением и политикой конфиденциальности
            .row
              .form-group.col-12
                button(href="#").btn.button.button-golden-bg.w-100.text-uppercase Регистрация
            .row
              .form-group.col-12.text-center.text-uppercase
                a(href="#").check-in__entrance Войти
