.check-in
  position: relative
  &_title_padding_bottom
    padding-bottom: 40px
  &__wrapp
    background: linear-gradient(245.36deg, rgba(117, 180, 255, 0.18) 3.79%, rgba(117, 180, 255, 0.117) 119%)
    padding: 50px 0 100px 0
    position: relative
    &::before
      content: ''
      position: absolute
      bottom: 0px
      left: 0px
      width: 462px
      height: 381px
      z-index: -1
      opacity: .3
      background: url(../../img/common_bg/bg_user_page_pwd_recover_left.png) left bottom no-repeat
      @media (max-width: 992px)
        bottom: -210px
      @media (max-width: 415px)
        display: none
    &::after
      content: ''
      position: absolute
      right: 0px
      bottom: 0px
      width: 360px
      height: 460px
      z-index: -1
      opacity: .3
      background: url(../../img/common_bg/bg_user_page_pwd_recover_right.png) no-repeat
      background-position: right bottom
      @media (max-width: 992px)
        top: -211px
        width: 260px
        height: 370px
        transform: rotate(270deg)
        background-position: -185px -330px
      @media (max-width: 415px)
        top: -50px
        width: 230px
        height: 260px
        background-position: -178px -330px
  &__form-wrapp
    display: flex
    align-content: space-between
    align-items: center
    flex-direction: column
    form
      width: 530px
      @media (max-width: 720px)
        width: 100%
  &__agreements
    display: -webkit-flex
    display: flex
  &__entrance
    border-bottom: 0.75px solid #FFE03F
