extends ../../common.blocks/base/base
block title
  | Политика конфиденциальности
block main
  main
    div.container
      div.row
        include ../../common.blocks/breadcrumb/breadcrumb
    .container.privacy-policy
      h1.title_h1 Политика конфиденциальности
      ol
        li.title_h2 
          span Предоставление информации Покупателем
          ol.privacy-policy_padding_top_5
            li При совершении покупки Товара в Интернет-магазине «NordKit», на сайте https://... и все его поддомены третьего уровня (далее - "Интернет-магазин") Покупатель предоставляет следующую информацию: Фамилия, Имя, номер мобильного телефона, адрес электронной почты.
            li  Предоставляя свои персональные данные, Покупатель соглашается на их обработку (вплоть до отзыва Покупателем своего согласия на обработку его персональных данных) следующими Продавцами:
              ol
                li ИП Тарасов Виктор Константинович, ИНН: 027700895874, ОГРНИП: 315028000068655, адрес: 450064 Республика Башкортостан, г.Уфа, ул.Первомайская 1, кв. 3;
                li ИП Протасова Светлана Анатольевна, ИНН: 027610895735, ОГРНИП: 318028000095620, адрес: 450105 Республика Башкортостан, г. Уфа, ул. Максима Рыльского 12/1, кв.96;
                li ИП Мустафина Алина Олеговна, ИНН: 027610895020, ОГРНИП: 317028000058327, адрес: 450105 Республика Башкортостан, г. Уфа, ул. Максима Рыльского 12/1, кв.96;
            li Покупатель дает свое согласие на обработку своих персональных данных в следующих целях:
              ol
                li В целях исполнения Продавцом и/или его партнерами своих обязательств перед Покупателем, продажи товаров и предоставления услуг, предоставления справочной информации, а также в целях продвижения товаров, работ и услуг.
                li В целях получение сообщений рекламно-информационного характера и сервисных сообщений.
            li При обработке персональных данных Покупателя Продавец руководствуется Федеральным законом "О персональных данных", Федеральным законом "О рекламе" и локальными нормативными документами.
            li Если Покупатель желает уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, либо в случае желания Покупателя отозвать свое согласие на обработку персональных данных или устранения неправомерных действий Продавца в отношении его персональных данных, то он должен направить официальный запрос Продавцу в порядке, предусмотренном Политикой Продавца в отношении обработки персональных данных.
        li.title_h2 
          span Использование информации предоставленной Покупателем и получаемой Продавцом
          ol.privacy-policy_padding_top_5
            li Продавец использует предоставленные Покупателем данные в течение всего срока действия акцептированной Покупателем Оферты в целях:
              ul.privacy-policy_num_ul_off
                li обработки заказов Покупателя и для выполнения своих обязательств перед Покупателем;
                li для осуществления деятельности по продвижению товаров и услуг;
                li оценки и анализа работы Интернет-магазина;
                li определения победителя в акциях, проводимых Продавцом;
                li анализа покупательских особенностей Покупателя и предоставления персональных рекомендаций;
                li участия Покупателя в программе лояльности;
                li информирования Покупателя об акциях, скидках и специальных предложениях посредством электронных и СМС-рассылок.
            li Совершая покупку в Интренет-магазине Продавца Покупатель, в соответствии с ч. 1 ст. 18 Федерального закона «О рекламе», дает свое согласие на получение сообщений рекламного характера от Продавца и/ил его партнеров. Если Покупатель не желает получать сообщения рекламного характера, он должен сообщить соответствующую информацию Продавцу по средством направления соответствующего электронного сообщения на электронный адрес Продавца.
        li.title_h2 
          span Предоставление и передача информации, полученной Продавцом
          ol.privacy-policy_padding_top_5
            li Продавец обязуется не передавать полученную от Покупателя информацию третьим лицам. Не считается нарушением предоставление Продавцом информации агентам и третьим лицам, действующим на основании договора с Продавцом, для исполнения обязательств перед Покупателем и только в рамках договоров. Не считается нарушением настоящего пункта передача Продавцом третьим лицам данных о Покупателе в обезличенной форме в целях оценки и анализа работы Интернет-магазина, анализа покупательских особенностей Покупателя и предоставления персональных рекомендаций.
            li Не считается нарушением обязательств передача информации в соответствии с обоснованными и применимыми требованиями законодательства Российской Федерации.
            li Продавец вправе использовать технологию "cookies". "Cookies" не содержат конфиденциальную информацию и не передаются третьим лицам.
            li Продавец при обработке персональных данных принимает необходимые и достаточные организационные и технические меры для защиты персональных данных от неправомерного доступа к ним, а также от иных неправомерных действий в отношении персональных данных.
            li Более полная информация о политике Продавца в отношении обработки персональных данных приведена разделе «Обработка персональных данных» в интернет-магазине расположенном по адресу https://lodki-pvh.com и все его поддомены третьего уровня.
        li.title_h2 
          span Прочие условия хранения и использования информации
          ol.privacy-policy_padding_top_5
            li В случае возникновения у Продавца подозрений относительно использования данных Покупателя третьим лицом или вредоносным программным обеспечением Продавец вправе в одностороннем порядке ограничить доступ Покупателя к оформлению покупок в интернет-магазине Продавца расположенном по адресу https://lodki-pvh.com и все его поддомены третьего уровня.
