.trafaret-stocks
  position: absolute
  top: 0
  left: -7px
  width: 1920px
  height: 2237px
  opacity: .2
  background: url('../../common.blocks/trafarets/img/stoks.jpg')
.trafaret-stock
  position: absolute
  top: -201px
  left: -7px
  width: 1920px
  height: 2237px
  opacity: .2
  z-index: 10000
  background: url('../../common.blocks/trafarets/img/stok.jpg')

.trafaret-basket
  position: absolute
  top: 0px
  left: 0px
  width: 1920px
  height: 2237px
  opacity: .2
  z-index: -1
  background: url('../../common.blocks/trafarets/img/basket.jpg')

.trafaret-news-single
  position: absolute
  top: -1px
  left: 6px
  width: 1920px
  height: 2237px
  opacity: .2
  z-index: 10000
  background: url('../../common.blocks/trafarets/img/news-single.jpg')
.trafaret-compare
  position: absolute
  top: 0px
  left: 6px
  width: 1920px
  height: 5237px
  opacity: .2
  z-index: 10000
  background: url('../../common.blocks/trafarets/img/compare.jpg')
.trafaret-elem
  position: absolute
  left: 697px
  top: 440px
