.trafaret-stocks
  position: absolute
  top: 0
  left: -7px
  width: 1920px
  height: 2237px
  opacity: .2
  background: url('../../common.blocks/trafarets/img/stoks.jpg')
.trafaret-stock
  position: absolute
  top: -201px
  left: -7px
  width: 1920px
  height: 2237px
  opacity: .2
  z-index: 10000
  background: url('../../common.blocks/trafarets/img/stok.jpg')

.trafaret-elem
  position: absolute
  left: 697px
  top: 440px
