extends ../../common.blocks/base/base
block title
  | Акция
block main
  main
    .container 
      div.row
        include ../../common.blocks/breadcrumb/breadcrumb
      //- .trafaret-stock
      div.row
        .col-12
          .stock__date.row 
            span 28.03.19
            span 16:30
        h1.title_h1.title-w45 Скидки 20% на Надувную доску для sup-бординга Stormline Powermax 10.6 
        .subtitle.stock_subtitle_correct Магазин: Globaldrive
        .stock__block-image
          img(src=require('../../img/news/boats2.jpg') alt='Доски').stock__image.stock_imag_display
          img(src=require('../../img/news/boats2_m.jpg') alt='Доски').stock__image.stock_imag_mobil
        .stock__date-off-wrapp
          .stock__date-off Акция действует до: 29.06.2019
        .stock__content
          h2.title_h2.SF-UI-Display-Semibold Надувная доска для sup-бординга Stormline Powermax 10.6
          p Это изделие относится к малогабаритным водным транспортным средствам. Оно кардинально отличается от резиновых аналогов прочным материалом, не подверженным гниению. Для создания корпуса применяют синтетические волокна в качестве основы, которые обволакивают поливинилхлоридом. Чтобы придать ему мягкость, в состав добавляют полиуретан.
          h2.title_h2.SF-UI-Display-Semibold Используют Надувную доску для:
          ol.stock_ol
            li Рабалка на крупных озерах;
            li Морские прогулки;
            li Охота по заболоченным местам;
            li Экстремальные спуски по рекам;
            li Троллинг;
            li Водные аттракционы (присоединение лыж, "ватрушки")
          h2.title_h2 Принцип работы и устройство ПВХ лодки 
          p Это изделие относится к малогабаритным водным транспортным средствам. Оно кардинально отличается от резиновых аналогов прочным материалом, не подверженным гниению.
          p Для создания корпуса применяют синтетические волокна в качестве основы, которые обволакивают поливинилхлоридом. Чтобы придать ему мягкость, в состав добавляют полиуретан.
          include ../../common.blocks/take-advantage/take-advantage
    include ../../common.blocks/stock-slider/stock-slider
