extends ../../common.blocks/base/base
block head
  //- link(rel="stylesheet" type="text/css" href="../sass/main.css")
  //- link(rel="stylesheet" type="text/css" href="../catalog/catalog.sass")
  //- link(rel="stylesheet" type="text/css" href="../sass/catalog/media.css")
  //- link(rel="stylesheet" type="text/css" href="../js/ion.rangeSlider/ion.rangeSlider.min.css")
  //- link(rel="stylesheet" type="text/css" href="../sass/theme.css")
block title
  | Главная страница
block main
  h1 Главнп