extends ../../common.blocks/base/base
block title
  | Оформление заказа
block main
  main
    div.container
      div.row
        include ../../common.blocks/breadcrumb/breadcrumb
    .container.basket
      .trafaret-basket
      .row
        .col-12
          .row
            h1.title_h1(style="padding: 10px 0 31px") Оформление заказа
            .basket__wrapp
              .basket__items
                .basket__items-header
                  .basket__items-header-title Наименование товара
                  .basket__items-header-count Количество
                  .basket__items-header-price Стоимость
                  .basket__items-header-total Итого
                .basket__item
                  .basket__item-content
                    img(src=require("../../img/items/basket_boat.jpg"))
                    div.basket__item-content-title
                      a(href="#") Лодка ПВХ Ривьера 3600 СК (КОМПАКТ) надувная под мотор комби светлосерый-синий
                      span.item_sku Код товара: 2-20011a-00102в
                  .basket__item-count
                    span - 1 +
                  .basket__item-price
                    p 70 000 р.
                  .basket__item-total
                    p 70 000 р.
                  button.button-close.basket__btn-cls X
                .basket__item
                  .basket__item-content
                    img(src=require("../../img/items/basket_boat.jpg"))
                    div.basket__item-content-title
                      a(href="#") Лодка ПВХ Ривьера 3600 СК (КОМПАКТ) надувная под мотор комби светлосерый-синий
                      span.item_sku Код товара: 2-20011a-00102в
                  .basket__item-count
                    span - 1 +
                  .basket__item-price
                    p 70 000 р.
                  .basket__item-total
                    p 70 000 р.
                  button.button-close.basket__btn-cls X
                .basket__item
                  .basket__item-content
                    img(src=require("../../img/items/basket_boat.jpg"))
                    div.basket__item-content-title
                      a(href="#") Лодка ПВХ Ривьера 3600 СК (КОМПАКТ) надувная под мотор комби светлосерый-синий
                      span.item_sku Код товара: 2-20011a-00102в
                  .basket__item-count
                    span - 1 +
                  .basket__item-price
                    p 70 000 р.
                  .basket__item-total
                    p 70 000 р.
                  button.button-close.basket__btn-cls X
                .basket__line 
                .basket__panel
                  .row
                    .col-6.text-left
                      button.btn.btn-theme_snow Продолжить покупки
                    .col-6.text-right Общая стоимость: 
                      b 250 000 р.
              .basket__form
                .basket__tit
                  .col-6.text-white.text-left.basket__form_tltle Информация о доставке
