extends ../../common.blocks/base/base
block title
  | Корзина
block main
  main
    div.container
      div.row
        include ../../common.blocks/breadcrumb/breadcrumb
    .container.app-det
      h1.title_h1.title_center Корзина
