.basket
  &__wrapp
    /* горизонтально */
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    align-content: flex-start
  &__items
    /* вертикально */
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: space-around
    align-items: baseline
    align-content: stretch
    width: 60%
  &__item
    width: 100%
  &__tit
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    align-content: flex-start
    background: #557AFF
    border-radius: 10px 10px 0 0
    padding: 7px 0px 5px 12px
    width: 100%
    &-title
    &-count
    &-cost
    &-total
  &__form
    background: green
    width: 40%
  &__line
    width: 100%
    border-bottom: 5px solid #557AFF
    margin-left: -15px
    padding: 10px 0 0 0
  &__panel
    width: 100%
    margin-left: -15px
    padding: 27px 0
  &_border_blue
    border: 1px solid #8DAFD7
    border-radius: 10px
