.compare-slider__wrap
  .ncompare-actions
    .ncompare-cat-switcher
      span.ncompare-cat-switch.active(data-cat="630")
        | Лодки под мотор
        i 2
    .ncompare-diffs-toggle
      .ncompare-diffs-toggler
        | Только отличия
        i
  .ncompare-header
    .ncompare-products.slick-initialized.slick-slider
      .slick-list.draggable(aria-live="polite")
        .slick-track(style="opacity: 1; width: 960px; transform: translate3d(0px, 0px, 0px);")
          .ncompare-product.slick-slide.slick-current.slick-active(data-cat="630" data-i="1" data-product_id="2682" style="width: 320px;" data-slick-index="0" aria-hidden="false")
            a.ncp-remove(rel="nofollow" href="/sravnenie/?add-to-sravnenie=2682" data-product_id="2682")
              i
            a.ncp-thumbnail(href="https://moskva.lodki-pvh.com/tovar/pod-motor/lodka-pvh-akva-2800-naduvnaya-motornaya/")
              img.img-resposive(src="https://moskva.lodki-pvh.com/wp-content/uploads/2014/10/db6b4f0b99ecdea1261155e206916a73-167x300.png" alt="Лодка ПВХ Аква 2800 надувная под мотор" width="" height="")
            a.ncp-title(href="https://moskva.lodki-pvh.com/tovar/pod-motor/lodka-pvh-akva-2800-naduvnaya-motornaya/") Аква 2800 под мотор
            .ncp-rating
              img(src="/wp-content/themes/mazay/images/nstars-5.svg" alt="Оценка 4.77 из 5" width="" height="")
              a(href="https://moskva.lodki-pvh.com/tovar/pod-motor/lodka-pvh-akva-2800-naduvnaya-motornaya/#reviews") 46 отзывов
            .ncp-bottom
              .ncp-price
                span 13200 Р
              a.ncp-a2c(rel="nofollow" href="?add-to-cart=2682" data-product_id="2682" data-parent_id="2682") Добавить +
          .ncompare-product.slick-slide.slick-active(data-cat="630" data-i="2" data-product_id="2876" style="width: 320px;" data-slick-index="1" aria-hidden="false")
            a.ncp-remove(rel="nofollow" href="/sravnenie/?add-to-sravnenie=2876" data-product_id="2876")
              i
            a.ncp-thumbnail(href="https://moskva.lodki-pvh.com/tovar/pod-motor/lodka-pvh-stefa-2800-m-s-slan-vo-vse-dno-standart-naduvnaya-motornaya/")
              img.img-resposive(src="https://moskva.lodki-pvh.com/wp-content/uploads/2016/06/2800-ms-zs-1-185x300.jpg" alt="Лодка ПВХ STEFA 2800 МС (слань во все дно) надувная под мотор" width="" height="")
            a.ncp-title(href="https://moskva.lodki-pvh.com/tovar/pod-motor/lodka-pvh-stefa-2800-m-s-slan-vo-vse-dno-standart-naduvnaya-motornaya/") STEFA 2800 МС (слань во все дно) под мотор
            .ncp-rating
              img(src="/wp-content/themes/mazay/images/nstars-5.svg" alt="Оценка 4.54 из 5" width="" height="")
              a(href="https://moskva.lodki-pvh.com/tovar/pod-motor/lodka-pvh-stefa-2800-m-s-slan-vo-vse-dno-standart-naduvnaya-motornaya/#reviews") 88 отзывов
            .ncp-bottom
              .ncp-price
                span 13800 Р
              a.ncp-a2c(rel="nofollow" href="?add-to-cart=7942" data-product_id="7942" data-parent_id="2876") Добавить +
          .ncompare-product.ncompare-product-dummy.slick-slide.slick-active(data-cat="630" style="width: 245px;" data-slick-index="2" aria-hidden="false")
            | Добавьте другие товары из категории
            a(href="/pod-motor/" target="_blank") Лодки под мотор
            |  к сравнению
