.compare-slider
  overflow: hidden
  &__wrapp
    background: #f3f3f3
    border-radius: 10px
    position: relative
    width: 100%
    height: 265px
    padding: 19px 34px
  &__header
    display: flex
  &__tab-nav
    width: 70%
    .nav-tabs
      border: none
    .nav-item
      padding: 0 20px 0 0
      .nav-link
        display: inline
        padding: 0
      .active
        background: none
        border-bottom: 1px dashed #F9C300
      a
        font-size: 15px
        line-height: 19px
        background: none
        border: none
        border-bottom: 1px dashed #000
        &:hover
          background: none
          border: none
  &__switcher-wrapp
    width: 30%
    text-align: right
  &__switcher
    float: right
    width: 49px
    height: 21px
    margin-left: 20px
    background: #FFFFFF
    border: 1px solid #C8D6E2
    border-radius: 20px
    display: flex
    align-items: center
    position: relative
    cursor: pointer
    &-off
      display: flex
      align-items: center
      position: relative
      width: 19px
      height: 19px
      background: #AEC7DE
      border: none
      border-radius: 20px
    &-on
      float: right!important
      display: block!important
      border-color: #FFD84F
      div
        background-color: #FFD84F

  &__content
  &__slider
    padding: 20px 0 0 0
  &__slider-tab2
    padding: 20px 0 0 0
  &__item
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    align-items: stretch
    align-content: stretch

    position: relative
    width: 344px
    height: 163px
    background: #FFFFFF
    border: 1px solid #3485E4
    box-sizing: border-box
    border-radius: 10px
    margin: 0 20px
    padding: 13px 12px 19px 1px
    &:hover
      border: 2px solid #F9C300
      padding: 12px 11px 18px 0px
      .compare-slider__item-close
        display: block
    &-img
      height: 135px
      float: left
    &-content
      display: flex
      flex-direction: column
      flex-wrap: nowrap
      justify-content: space-between
      align-items: stretch
      align-content: stretch
    &-title
      width: 100%
      font-size: 15px
      line-height: 19px
      color: #202020
      font-weight: bold
    &-info
    &-stars
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: space-around
      align-items: stretch
      align-content: stretch

      float: left
      width: 30%
      height: 30px
      span
        cursor: pointer
        width: 20px
        height: 20px
        background: url('../../img/icons/star_white.png') 0 0 no-repeat
      &-selected
        width: 20px
        height: 20px
        background: url('../../img/icons/star_red.png') 0 0 no-repeat!important
    &-reviews
      float: right
      width: 35%
      font-size: 13px
      line-height: 15px
      text-align: right
      color: #6C6C6C
      height: 30px
    &-bottom
      height: 28px
    &-price
      font-size: 15px
      line-height: 17px
      background: rgba(255, 237, 79, 0.5)
      border-radius: 50px
      width: 94px
      height: 30px
      float: left
      padding: 8px 13px
      margin-top: 3px
    &-button
      width: 53%
      float: right
      botton
        width: 115px
        height: 39px
        font-size: 12px
        line-height: 14px
        padding: 13px 20px 8px 20px
    &-close
      position: absolute
      top: 5px
      right: 10px
      display: none
      cursor: pointer


      // width: 343px
      // height: 162px
    // &::before
    //   content: ''
    //   position: absolute
    //   bottom: 0
    //   left: -50px
    //   width: 250px
    //   height: 250px
    //   z-index: -1
    //   opacity: .5
    //   background: url(../../img/slider/left.png) 0px 0px no-repeat
    //   @media (max-width: 992px)
    //     top: 0px
    //     background: url(../../img/slider/left_2.png) -43px 20px no-repeat
    // &::after
    //   content: ''
    //   position: absolute
    //   right: 0
    //   bottom: 0
    //   width: 250px
    //   height: 250px
    //   z-index: -1
    //   opacity: .5
    //   background: url(../../img/slider/right.png) 10px -150px no-repeat
    //   @media (max-width: 992px)
    //     top: 0px
    //     background: url(../../img/slider/right_2.png) -100px 0px no-repeat
    // &_title
    //   padding-bottom: 38px
//.stock-slider
  display: flex
  padding: 0 15px
  .slick-list,
  .slick-track
    display: flex
  .slick-slide
    padding: 0 15px
  &__item
    display: flex
    flex-wrap: wrap
  &__content
    background: #ffffff
    border: 2px solid #E2E2E2
    padding-bottom: 23px
    border-radius: 10px
    position: relative
    overflow: hidden
    &:hover
      border: 2px solid #F9C300
    .img
      height: calc(100% - 55%)
      display: flex
      align-items: center
      justify-content: center
      overflow: hidden
  &__image
    max-width: 100%
    height: auto
  &__inform
  &__title
    background: rgba(104, 151, 255, 0.3)
    padding: 8px 18px
    font-family: 'SF UI Display SemiBold', sans-serif
    font-size: 18px
    line-height: 20px
    color: #000000
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    height: 70px
    width: 100%
    @media (max-width: 1400px)
      font-size: 16px
  &__text
    color: #767676
    font-size: 14px
    line-height: 19px
    margin-bottom: 0px
    padding: 12px 22px 36px
  &__info-text
    justify-content: space-between
    display: flex
    padding: 0 22px
    position: absolute
    bottom: 0
    width: 100%
    p
      @media (max-width: 1400px)
        font-size: 14px

.slick-initialized .slick-slide
  display: flex
