button.btn.btn-primary(type="button" data-toggle="modal" data-target="#search-items-modal")
  | Модальное окно - search items
#search-items-modal.modal.fade.custom-modal-search(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .search-popup
        .search-popup-top
          input(type="text" placeholder="Ривьер")
          button.clear-icon(type="button")
            svg.icon
              use(xlink:href="#close-icon")
          button.search-icon(type="button")
            svg.icon
              use(xlink:href="#search-icon-popup")
        #scroll-popup.search-popup-bottom.scrollbar-popup
          .search-item-content
            .search-left
              img(src="img/boat-img.jpg")
            .search-right
              p.search-popup-title Лодка ПВХ Ривьера 3600 СК (КОМПАКТ) надувная под мотор
              .search-popup-info
                p.search-popup-price 30 500 р.
                .search-popup-feedback-cnt
                  .rate_row.character-rate.search-popup-rate
                    ul.star_stat
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                  p.search-popup-feedback 45 отзывов
          .search-item-content
            .search-left
              img(src="img/boat-img.jpg")
            .search-right
              p.search-popup-title Лодка ПВХ Ривьера 3600 СК (КОМПАКТ) надувная под мотор
              .search-popup-info
                p.search-popup-price 30 500 р.
                .search-popup-feedback-cnt
                  .rate_row.character-rate.search-popup-rate
                    ul.star_stat
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                  p.search-popup-feedback 45 отзывов
          .search-item-content
            .search-left
              img(src="img/boat-img.jpg")
            .search-right
              p.search-popup-title Лодка ПВХ Ривьера 3600 СК (КОМПАКТ) надувная под мотор
              .search-popup-info
                p.search-popup-price 30 500 р.
                .search-popup-feedback-cnt
                  .rate_row.character-rate.search-popup-rate
                    ul.star_stat
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                  p.search-popup-feedback 45 отзывов
          .search-item-content
            .search-left
              img(src="img/boat-img.jpg")
            .search-right
              p.search-popup-title Лодка ПВХ Ривьера 3600 СК (КОМПАКТ) надувная под мотор
              .search-popup-info
                p.search-popup-price 30 500 р.
                .search-popup-feedback-cnt
                  .rate_row.character-rate.search-popup-rate
                    ul.star_stat
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                  p.search-popup-feedback 45 отзывов
          .search-item-content
            .search-left
              img(src="img/boat-img.jpg")
            .search-right
              p.search-popup-title Лодка ПВХ Ривьера 3600 СК (КОМПАКТ) надувная под мотор
              .search-popup-info
                p.search-popup-price 30 500 р.
                .search-popup-feedback-cnt
                  .rate_row.character-rate.search-popup-rate
                    ul.star_stat
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                  p.search-popup-feedback 45 отзывов
          .search-item-content
            .search-left
              img(src="img/boat-img.jpg")
            .search-right
              p.search-popup-title Лодка ПВХ Ривьера 3600 СК (КОМПАКТ) надувная под мотор
              .search-popup-info
                p.search-popup-price 30 500 р.
                .search-popup-feedback-cnt
                  .rate_row.character-rate.search-popup-rate
                    ul.star_stat
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                  p.search-popup-feedback 45 отзывов
          .search-item-content
            .search-left
              img(src="img/boat-img.jpg")
            .search-right
              p.search-popup-title Лодка ПВХ Ривьера 3600 СК (КОМПАКТ) надувная под мотор
              .search-popup-info
                p.search-popup-price 30 500 р.
                .search-popup-feedback-cnt
                  .rate_row.character-rate.search-popup-rate
                    ul.star_stat
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li.active
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                      li
                        svg.icon.star_stroke(height="15" width="15")
                          use(xlink:href="#star_stroke")
                        svg.icon.star_fill(height="15" width="15")
                          use(xlink:href="#star_fill")
                  p.search-popup-feedback 45 отзывов
