.pagination.pag-example
    ul
      li.pag_prev
        a(href="#")
            svg.icon(height="10" width="13")
                use(xlink:href="#double_chevron")
      li.active
        a(href="#") 1
      li
        a(href="#") 2
      li
        a(href="#") 3
      li
        a(href="#") ...
      li.pag_next
        a(href="#")
          svg.icon(height="10" width="13")
              use(xlink:href="#double_chevron")
