.password-recovery-answer
  &__wrapp
    position: relative
    background: linear-gradient(245.36deg, rgba(117, 180, 255, 0.18) 3.79%, rgba(117, 180, 255, 0.117) 119%);
    height: 60vh
    display: flex
    align-items: center
    &::before
      content: ''
      position: absolute
      bottom: 0px
      left: 0px
      width: 462px
      height: 381px
      z-index: -1
      opacity: .3
      background: url(../../img/common_bg/bg_user_page_pwd_recover_left.png) left bottom no-repeat
      @media (max-width: 992px)
        bottom: -210px
      @media (max-width: 415px)
        display: none
    &::after
      content: ''
      position: absolute
      right: 0px
      bottom: 0px
      width: 360px
      height: 460px
      z-index: -1
      opacity: .3
      background: url(../../img/common_bg/bg_user_page_pwd_recover_right.png) no-repeat
      background-position: right bottom
      @media (max-width: 992px)
        top: 0px
        width: 184px
        height: 150px
        background: url(../../img/common_bg/bg_user_page_pwd_recover_right_top.png) no-repeat
        background-position: right top
