extends ../../common.blocks/base/base
block title
  | Восстановление пароля ответ 
block main
  main
    .password-recovery-answer__wrapp
      .container 
        h1.title_center восстановление пароля
        p.text-center Пройдите в почтовый ящик и следуйте икструкциям указанным в письме
