.stocks
  width: 100%
  border: 1px solid green

  &__item
    overflow: hidden
    padding: 30px 0 41px 0
    border-bottom: 2px solid #c9c9c9
  &__image
    border-radius: 5px
    @media (max-width: 1355px)
      width: 100%
  &_imag_display
    @media (max-width: 1000px)
      display: none
  &_imag_mobil
    display: none
    @media (max-width: 1000px)
      display: block
  &__block-image
    width: 45%
    padding: 0 2% 2% 0%
    float: left
    @media (max-width: 1490px)
      width: 50%
    @media (max-width: 1000px)
      padding: 0 0% 2% 10px
      width: 100%

  &__content
    width: 55%
    padding: 0 0px 0px 10px
    float: left
    @media (max-width: 1490px)
      width: 50%
    @media (max-width: 1000px)
      width: 100%

  &__date
    padding-bottom: 9px

  &__date-off-wrapp
    padding: 6px 1px 21px 0px
    width: 320px

  &__date-off
    background: #fffbd6
    border-radius: 5px
    padding: 6px 9px 5px 18px
    font-size: 20px
    font-weight: bold
    @media (max-width: 414px)
      background: none
      padding: 6px 9px 5px 0px

  &__load-more
    padding: 48px

  &_item_padding-correct
    padding-top: 52px
  &_subtitle_space-correct
    margin-top: -6px
    padding-bottom: 18px
