button.btn.btn-primary(type="button" data-toggle="modal" data-target="#city-modal")
  | Модальное окно - выбрать город!
#city-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .choose-city
        p
          | Ваш город - 
          span.bold-text Москва
        .choose-buttons
          button.button-golden-bg(type="button") Да
          button.button-golden-bg(type="button") выбрать другой
