extends ../../common.blocks/base/base
block head
block title
  | Рассрочка
block main
  main
    .container
      section
        .row
          .col-12
            h2 Купить лодку в рассрочку
        .row
          .col-lg-4.mt-lg-4.mt-3.pl-lg-5
            section.pt-0.pb-0
              .row
                .col-9
                  .tm-img-container
                    img.img-fluid(src="img/river-3400-8-600x365.png")
                .col-3.order-lg-first
                  .tm-img-container-small
                    img.img-fluid(src="img/river-3400-8-600x365.png")
                  .tm-img-container-small
                    img.img-fluid(src="img/river-3400-8-600x365.png")
                  .tm-img-container-small
                    img.img-fluid(src="img/river-3400-8-600x365.png")
          .col-lg-8.mt-lg-4.mt-3.order-lg-first
            p
              | Сейчас морской транспорт стал более доступным для частных нужд как никогда раньше. Сконструировано множество лодок больших и малых размеров, которые используются для туризма, развлечения или рыбалки. Очень популярны среди них модели из ПВХ, отличающиеся малым весом, компактными транспортировочными размерами и высокой скоростью, благодаря подсоединенному мотору. В характеристиках такой продукции много непонятных терминов и цифр, разобравшись в которых будет легче выбрать лодку ПВХ для своих нужд.
            p
              | Очень популярны среди них модели из ПВХ, отличающиеся малым весом, компактными транспортировочными размерами и высокой скоростью, благодаря подсоединенному мотору. В характеристиках такой продукции много непонятных терминов и цифр, разобравшись в которых будет легче выбрать лодку ПВХ для своих нужд.
    .container-fluid.tm-bg-blue
      .container
        section
          .row
            .col-12.mt-4
              h3 Рассрочка от банка
          .row.mt-lg-5.mt-md-4.mt-4
            .col-lg-3
              img.img-fluid(src="img/about-1.png")
            .col-lg-9.pl-lg-4.mt-lg-0.mt-md-4.mt-4
              p
                | Сейчас морской транспорт стал более доступным для частных нужд как никогда раньше. Сконструировано множество лодок больших и малых размеров, которые используются для туризма, развлечения или рыбалки. Очень популярны среди них модели из ПВХ, отличающиеся малым весом, компактными транспортировочными размерами и высокой скоростью, благодаря подсоединенному мотору.
              p
                | Сейчас морской транспорт стал более доступным для частных нужд как никогда раньше. Сконструировано множество лодок больших и малых размеров, которые используются для туризма, развлечения или рыбалки.
          .row.mt-4
            .col-12
              h4 Маленький заголовок
            .col-12.mt-4
              p
                | Сейчас морской транспорт стал более доступным для частных нужд как никогда раньше. Сконструировано множество лодок больших и малых размеров, которые используются для туризма, развлечения или рыбалки. Очень популярны среди них модели из ПВХ, отличающиеся малым весом, компактными транспортировочными размерами и высокой скоростью, благодаря подсоединенному мотору.
              p
                | Сейчас морской транспорт стал более доступным для частных нужд как никогда раньше. Сконструировано множество лодок больших и малых размеров, которые используются д ля туризма, развлечения или рыбалки.
          .row.mt-4.mb-4
            .col-12
              h4 Банки партнеры
            .col-12.mt-4
              .mt-4
                a.tm-bank-button.d-inline-block(href="#")
                  span
                    img(src="img/tm-icon-banks-1.svg")
                  span Альфа-Банк
                a.tm-bank-button.d-inline-block(href="#")
                  span
                    img(src="img/tm-icon-banks-2.svg")
                  span Русский Стандарт
                a.tm-bank-button.d-inline-block(href="#")
                  span
                    img(src="img/tm-icon-banks-3.svg")
                  span Оптбанк
          .row
            .col-12.text-right.mt-4
              p.w-100
                a.tm-banner-button.d-lg-inline.d-md-inline.d-flex(href="#") Оформить рассрочку
    .container
      section.mt-5
        .row
          .col-12
            h3 Рассрочка от Маркетплейса
        .row.mt-lg-5.mt-md-4.mt-4
          .col-lg-3
            img.img-fluid(src="img/about-1.png")
          .col-lg-9.pl-lg-4.mt-lg-0.mt-md-4.mt-4
            p
              | Сейчас морской транспорт стал более доступным для частных нужд как никогда раньше. Сконструировано множество лодок больших и малых размеров, которые используются для туризма, развлечения или рыбалки. Очень популярны среди них модели из ПВХ, отличающиеся малым весом, компактными транспортировочными размерами и высокой скоростью, благодаря подсоединенному мотору.
            p
              | Сейчас морской транспорт стал более доступным для частных нужд как никогда раньше. Сконструировано множество лодок больших и малых размеров, которые используются для туризма, развлечения или рыбалки.
        .row.mt-4
          .col-12
            h4 Маленький заголовок
          .col-12.mt-4
            p
              | Сейчас морской транспорт стал более доступным для частных нужд как никогда раньше. Сконструировано множество лодок больших и малых размеров, которые используются для туризма, развлечения или рыбалки. Очень популярны среди них модели из ПВХ, отличающиеся малым весом, компактными транспортировочными размерами и высокой скоростью, благодаря подсоединенному мотору.
            p
              | Сейчас морской транспорт стал более доступным для частных нужд как никогда раньше. Сконструировано множество лодок больших и малых размеров, которые используются д ля туризма, развлечения или рыбалки.
        .row
          .col-12.text-right.mt-4
            p.w-100
              a.tm-banner-button.d-lg-inline.d-md-inline.d-flex(href="#") Оформить рассрочку
    .container-fluid.tm-banner2
      .container
        .row
          .tm-banner2-col1
            img(src="img/Aviation-Global-Group-Request-quote-miami-1.png")
          .tm-banner2-col2
            form.tm-banner-form
              .tm-banner-form-title
                | Получите
                div Бесплатную консультацию
                |                                     эксперта по подбору лучшей модели
              div
                span.tm-icon-user
                  input(type="text" placeholder="Имя")
                span.tm-icon-phone
                  input(type="text" placeholder="Телефон")
                span
                  button(type="submit") Получить помощь
              .tm-banner-form-agree
                label.tm-container
                  | Нажимая на кнопку, “Получить помощь” вы даете согласие на обработку своих персональных данных в соотвествии с 
                  a(href="#") политикой конфиденциальности
                  input(type="checkbox")
                  span.tm-checkmark
          .tm-banner2-slogan-container-box
            .tm-banner2-slogan-container
              .tm-banner2-slogan
                div
                  | Мы подберем варианты,
                  br
                  |  наиболее подходящие именно Вам
