.take-advantage
  padding: 20px
  border-radius: 5px
  background: #557aff
  width: 600px
  @media (max-width: 645px)
    width: 100%
    text-align: center
  &_text
    float: left
    @media (max-width: 645px)
      float: none
    padding: 9px 9px 0 0
    color: #fff
