.take-advantage
  padding: 35px 50px
  border-radius: 12px
  background: #557aff
  display: flex
  align-items: center
  justify-content: space-around
  width: 66%
  @media (max-width: 645px)
    width: 100%
    text-align: center
  &_text
    color: #ffffff
    font-size: 24px
    margin-bottom: 0px
    @media (max-width: 645px)
      float: none
  &_margin_bottom
    margin-bottom: 33px
