extends ../../common.blocks/base/base
block head
block title
  | Test
block main
  main
    h1 Навигация по траницам для проверки
    ul
      li
        a(href="about.html") about
      li
        a(href="application-accepted.html") application-accepted
      li
        a(href="application-details.html") application-details
      li
        a(href="basket.html") basket
      li
        a(href="blank.html") blank
      li
        a(href="card-product.html") card-product
      li
        a(href="catalog.html") catalog
      li
        a(href="check-in.html") check-in
      li
        a(href="compare.html") compare
      li
        a(href="contacts.html") contacts
      li
        a(href="credit.html") credit
      li
        a(href="delivery.html") delivery
      li
        a(href="entrance.html") entrance
      li
        a(href="favorites.html") favorites
      li
        a(href="index.html") index
      li
        a(href="installment.html") installment
      li
        a(href="news-section.html") news-section
      li
        a(href="news-single.html") news-single
      li
        a(href="order.html") order
      li
        a(href="partnership.html") partnership
      li
        a(href="password-recovery.html") password-recovery
      li
        a(href="password-recovery-answer.html") password-recovery-answer
      li
        a(href="privacy-policy.html") privacy-policy
      li
        a(href="purchase.html") purchase
      li
        a(href="search.html") search
      li
        a(href="site-map.html") site-map
      li
        a(href="stock.html") stock
      li
        a(href="stocks.html") stocks
      li
        a(href="test.html") test
      li
        a(href="ui-kit.html") ui-kit
                                
